<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<h1 class="badge badge-primary text-wrap" style="width: 10rem; " th:text="${title}">INVEN</h1>
<h1 class="p-3 mb-2 bg-success text-white" th:text="${titlee}"></h1>

<nav th:replace="fragments :: navigation"></nav>

<div th:if="${Inventory} and ${Inventory.size()}">
    <h3 th:text="${Inventory.size() + 'Result(s)'}"></h3>
</div>
<div th:each="item : ${inventory}">
    <form method="post">
        <div>
            <span>
                <button class="btn" type="submit" name="DeleteId" th:value="${item.ItemId}"><i class="fas fa-trash"></i></button>
            </span>
            <br/>
        </div>
    </form>

    <table class="table table-striped table-dark" style="max-width:800px;">

        <tr>
        <th>Name</th>
        <td th:text="${item.Name}"></td>
        </tr>

        <tr>
            <th>Description</th>
            <td th:text="${item.Description}"></td>
        </tr>

        <tr>
            <th>Quantity</th>
            <td th:text="${item.Quantity}"></td>
        </tr>

        <tr>
            <th>Id</th>
            <td th:text="${item.ItemId}"></td>
        </tr>


        <br/>
    </table>

</div>
</body>
</html>